
.container {
    margin-right: 50px;
    margin-left: 5px;
}


.bg-orange {
    background-color: #F18B00!important;
}

.bg-violet {
    background-color: #B567A4!important;
}

.city-history:hover {
    background-color: lightgray;
    opacity: 0.5;
    color: #007bff;
}






@media (min-width: 1200px){
    .container, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container-xl {
    max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    /* For mobile phones:  */
    [class*="col-"] { 
    width: 100%;
    } 
}

@media screen and (max-width: 400px) {
    .card-body {
        width: 100%;
    }
    
}


