
.container {
    margin-right: 50px;
    margin-left: 5px;
}


.bg-orange {
    background-color: #F18B00!important;
}

.bg-violet {
    background-color: #B567A4!important;
}

.city-history:hover {
    background-color: lightgray;
    opacity: 0.5;
    color: #007bff;
}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

.card.history {
    display: none;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card.history {
      display: block;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card.history {
      display: block;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .card.history {
      display: block;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .card.history {
      display: block;
    }
  }
  
